<!DOCTYPE html>
<html>
<head>
    <title>Device Status</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Device Status</h1>
    <table>
        <tr>
            <th>Device Name</th>
            <th>IP Address</th>
            <th>Status</th>
        </tr>
        {% for device in status_list %}
        <tr>
            <td>{{ device.name }}</td>
            <td>{{ device.ip }}</td>
            <td class="status-cell {% if 'Unreachable' in device.status %}unreachable{% endif %}">
                <span class="dot {% if 'Unreachable' in device.status %}dot-red{% else %}dot-green{% endif %}"></span>
                {{ device.status }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/" class="back-button">Go Back</a>
    <script src="scripts.js"></script>
</body>
</html>

